/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 5px;
}

.modal-body {
    padding: 5px;
}

.modal-footer {
  padding: 5px;
}

.modal-body .txtinput {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: #dedede;
    margin-bottom: 20px;
    font-size: 1.55em;
    padding: 11px 25px;
    padding-left: 55px;
    width: 90%;
    color: #777;
}
.modal-body input#price {
    background: #fff url('../images/icons/cash.png') 5px 4px no-repeat;
}

/*list item for modal*/
.modal-body ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
}

.modal-body ul li {
  border: 1px solid #ddd; 
  margin-top: -1px; 
  background-color: #f6f6f6; 
  padding: 12px; 
}

.modal-body ul li .price{
  float: right;
}

.modal-body ul li .smallinput{
  width: 40px;
  margin-left: 30%;
}




/*small device*/
@media(max-width: 800px){
    .modal-content{
        width: 100%;
    }
    .modal-body .txtinput{
        width: 80%;
    }
    .modal-body ul li{
      width: 90%;
    }
}


@media(max-width: 550px) {
    .modal-content{
        width: 100%;
    }
    .modal-body .txtinput{
        width: 80%;
    }
    .modal-body ul li{
      width: 80%;
    }
    .modal-body ul li .smallinput{
      width: 30px;
      margin-left: 10%;
    }
}
 
/* iPhone Landscape ********/
@media(max-width: 480px) {
  body {
    padding: 10px 0px;
  }
  .modal-content{
        width: 100%;
    }
  .modal-body .txtinput{
        width: 70%;
    }
  
}
 
/* iPhone portrait *******/
@media(max-width: 320px) {
  body {
    padding: 10px 0px;
  }
  .modal-content{
        width: 100%;
    }
  .modal-body .txtinput{
        width: 60%;
    }
}